body{
background:#ffff;

}

/*Menu de navegação*/

header nav ul li{
  
   padding-top: 15px;
}


header  nav{
    float: right;
}

nav ul li a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    padding: 0px 20px;
    
}

#logo{
    float: left;
    padding: 10px 0px 5px 25px;
}

/*Fim Menu de navegação*/


.conteudo{
margin:2% auto; 
width: 100%;
margin: 0 auto;



} 
*{
font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
}
		
.solucoes{
    margin: 2% 0; 
    }
    
    .solucoes div{
    display: flex; 
    justify-content: space-around;
    }
    
    .solucoes div article{
    width: 40%; 
    
    }
    
    .solucoes div article:nth-child(1){
    margin-left: 12%;     
        
        
    }
    
    .solucoes h2{
    font-size: 20px;     
    font-weight: bold;
    margin-left: -20%;
	text-align: left; 
	margin-left: -14%; 
    
    }
    
    .solucoes p{
    font-size: 16px; 
    text-align: justify; 
    padding: 5% 20% 5% 5%; 
    line-height: 25px;
    margin-left: -20%;
   
    }
    
    .solucoes div article img{
    width: 70%; 
    position: relative; 
    margin-left: 40px;
    margin-top: 5px; 
    
    } 
	
	.historia{
    margin: 2% 0;
    
    }
    .historia div{
    justify-content: center;

    }
    .historia div article{
    width: 100%;
    }
    .historia h2{
    font-size: 20px; 
    text-align: center;
    font-weight: bold;
    }
    .historia p{
    font-size: 16px;
    text-align: justify;
    text-align: center;
	margin-bottom: -20px; 
	
    }

    .historia h3{
    font-size:  20px; 
    text-align: center;
    font-weight: bold;
    }

    .historia div article img{
        width: 90%; 
        position: relative; 
        margin-left: 5%;
        margin-top: 5px; 
        justify-content: center;    

}
.icones{
margin: 2% 0;
padding: 30px;
justify-content: center;
border: 1px solid;	
	
}	
.iconeum{
display: flex; 
justify-content: space-around; 
margin-top: -20px;
 
} 	
.iconeum article{
padding: 20px; 
margin: 1% 0;
width: 30%; 
display: flex;  
justify-content: center;
border: 1px solid;

}
	
.iconeum img{
width: 15%; 
text-align: center;
 
}
.icones p{
font-size: 15px; 
text-align: justify;
font-weight: bold; 
	
}
.parceiros{
margin: 2% 0; 
 
}


.parceiros div{
position: relative;


}

.parceiros div article{
border: 1px solid; 
width: 60%;
align-items: center;

}

.parceiros h2{
text-align: center;
font-size: 25px;
font-weight: bold; 
margin-top: -2px;
}

.parceiros  hr{
    height: 5px; 
    background: blue;
    position: relative; 
    width: 8%;
    margin-top: -15px;
    text-align: center;
}
.parceiros div article img{
    width: 20%; 
    position: relative;
margin: auto; 	
    
    

   


}